* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body {
  height: 97%;
}
body {
  font-family: "Segoe UI", sans-serif;
  background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: white;
  text-align: center;
}
h1 {
  margin: 30px 0;
}

/* -------------Filters------------- */
.filters {
  margin-bottom: 20px;
}

.filters button {
  padding: 10px 20px;
  margin: 5px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  background: rgba(255,255,255,0.2);
  color: white;
  transition: 0.3s;
}

.filters button:hover,
.filters button.active {
  background: #00c6ff;
}

/* -------------Gallery-------------- */
.gallery {
  display: grid;
  gap: 25px;
  padding: 0 50px; /* Left & right margin for laptop */
}


/* -----------Card------------ */
.card {
  position: relative;
  border-radius: 15px;
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.4s;
}

.card img {
  width: 100%;
  aspect-ratio: 4 / 4;
  object-fit: cover;
  background: #000;
  filter: grayscale(30%);
  transition: 0.4s;
}



/* -------------Hover Effects------------ */
.card:hover {
  transform: translateY(-8px);
}

.card:hover img {
  filter: grayscale(0);
  transform: scale(1.1);
}

/* ------------Overlay----------- */
.overlay {
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  opacity: 0;
  backdrop-filter: blur(3px);
  transition: 0.4s;
}

.card:hover .overlay {
  opacity: 1;
}

/* ------------Lightbox-------------- */
#lightbox {
  display: none;
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.9);
  align-items: center;
  justify-content: center;
}

#lightbox img {
  max-width: 85%;
  max-height: 85%;
  border-radius: 10px;
}

.close {
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: 35px;
  cursor: pointer;
}

.prev, .next {
  position: absolute;
  background: none;
  border: none;
  color: white;
  font-size: 45px;
  cursor: pointer;
}

.prev { left: 30px; }
.next { right: 30px; }

/* ------------------------Responsive--------------------------- */

/* Mobile  */

@media (max-width: 600px) {
  .gallery {
    grid-template-columns: repeat(1, 1fr); /* 1 card per row */
    padding: 0 10px;
  }
  
  .card img {
    height: 180px;
  }
}

/* Tablet */
@media (min-width: 601px) and (max-width: 992px) {
  .gallery {
    grid-template-columns: repeat(2, 1fr); /* 2 cards per row */
    padding: 0 20px;
  }
  
  .card img {
    height: 220px;
  }
}

/* Laptop & Desktop */
@media (min-width: 993px) {
  .gallery {
    grid-template-columns: repeat(5, 1fr); /* 5 cards per row */
    padding: 0 50px;
  }
  
  .card img {
    height: 240px;
  }
}




